body {
    background-color: rgb(31, 30, 30);
    font: normal 18pt Arial
}

#foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}



header {
    color: rgb(246, 250, 239);
    text-align: center;
}

section {
    background-color: rgb(246, 250, 239);
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 1px rgba(255, 251, 0, 0.363);
}

footer {
    color:  rgb(246, 250, 239);
    text-align: center;
    font-style: italic;
}
